<footer class="footer font-two bottom-0 text-center w-full fixed m-standard">
    <nav class="text-xs flex justify-center items-center uppercase *:m-2 *:flex *:flex-row *:items-center">
        <a href="/book" class="bookFooter">&nbsp;Boka</a>
        <a href="/testimonials" class="reviewsFooter">&nbsp;Recensioner</a>
        <a href="/staff" class="staffFooter">&nbsp;Våra Anställda</a>
        <a href="/treatments" class="treatmentsFooter">&nbsp;Behandlingar</a>
    </nav>
    <div class="text-xs flex justify-center items-center">
        <p><span class="font-one font-extrabold uppercase">Washbear Spa</span> © 2025 • Björnlunda, 646 50, Gnesta • Tel +00 560 443 23
        </p>
    </div>
</footer>
