<header class="flex-none flex flex-col items-center font-two uppercase font-bold m-standard">
  <nav class="px-8 flex">
    <div class="flex h-20 items-center justify-between">
      <!-- left side  -->
      <div class="flex w-48 justify-end gap-6 whitespace-nowrap">
        <a href="/home" class="hem inline-flex items-center justify-center w-6 h-6 shrink-0 overflow-visible relative z-10" aria-label="Hem"></a>
        <a href="/book">Boka</a>
        <a href="/testimonials">Recensioner</a>
      </div>
      <!-- middle -->
      <div class="mx-8 shrink-0">
        <a href="/home" class="logoImg">
          <img
          src="https://img.freepik.com/premium-vector/raccoon-continuous-line-art-drawing_266639-2928.jpg?w=360"
          class="h-32 w-32 rounded-full scale-x-[-1] relative -z-10" alt="Raccoon Logo"
          />
        </a>
      </div>
      <!-- right side -->
      <div class="w-48 flex gap-6 justify-start whitespace-nowrap">
        <a href="/staff">Våra Anställda</a>
        <a href="/treatments">Behandlingar</a>
      </div>
    </div>
  </nav>
  <div class="text-center">
    <h1 class="font-one"><a href="/home" class="no-underline">Washbear Spa</a></h1>
    <h5 class="text-black text-sm normal-case font-normal font-two">Where dirt goes to die...</h5>
  </div>
</header>

<!-- scale-x-[-1]" -->
