@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');

@import "tailwindcss";

@theme {
  
  /* ↓ Apply these classes to your page's main container ↓ */
  /* "flex", "items-center", "flex-col", "bg-light-blue", "p-standard", "rounded-standard", "drop-shadow-standard", "self-center", "w-[90vw]", "max-w-[1200px]", "max-h-[70vh]", "h-[fit-content]", "overflow-y-auto", "overflow-x-hidden", "scrollbar" */
  
  /* Colors */
  --color-light-blue: #b0d9f0;
  --color-dark-blue: #ADC4D7;
  --color-light-green: #B1D8B7;
  --color-dark-green: #739777;
  --color-light-orange: #FDF5C4;
  --color-dark-orange: #CB8E66;
  --color-light-white: #FBF7F4;
  --color-dark-white: #D3D2C7;
  
  --drop-shadow-standard: 0 9px 7px rgb(0 0 0 / 0.1);
  
  /* Border Radius */
  --radius-standard: 0.375rem;
  
  /* Margin & Padding */
  --m-standard: 16px;
  --p-standard: 16px;
  
  /* Fonts */
  --font-one: "Poiret One", sans-serif; /* För headers & loggan */
  --font-two: "Quicksand", sans-serif; /* För vanlig text */
  --font-three: "Montserrat Alternates", sans-serif; /* För annat */
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-dark-blue);
    border-radius: var(--radius-standard);
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-light-white);
    border-radius: var(--radius-standard);
    box-shadow: var(--drop-shadow-standard);
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-white)
  }
  .radius-standard {
    border-radius: var(--radius-standard);
  }
  .p-standard {
    padding: var(--p-standard)
  }
  .m-standard {
    margin: var(--m-standard);
  }
  *:not(.cardFlip) {
    @apply duration-900;
  }
}

@layer components {
  .btn, button, .button {
    @apply rounded-md px-2 py-1 m-1 text-base cursor-pointer;
  }
}

@layer base {
  html {
    font-family: var(--font-two);
  }
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  body {
    overflow: hidden;
    
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  li {
    @apply text-[14px] ml-2.5 list-inside list-disc;
  }
  a {
    @apply font-medium text-black border border-transparent rounded transition-all underline decoration-1 underline-offset-2;
  }
  a:not(.button):not(.logoImg):not(button):not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a):hover {
    @apply border-[#505050];
  }
  .btn-primary {
    background-color: var(--color-dark-orange);
  }
  button, .button {
    @apply font-medium text-black box-border border border-transparent transition-all;
    background-color: var(--color-light-white);
    box-shadow: var(--drop-shadow-standard);
  }
  button:hover, .button:hover {
    @apply border-black;
    background-color: var(--color-light-orange);
  }
  img:hover {
    @apply cursor-pointer;
  }
  input[type=checkbox]:checked, input[type=radio]:checked {
    accent-color: var(--color-dark-orange);
  }
  
}

@keyframes carouselAnimation {
  from {left: 0}
  to {left: -500px}
}

/* ------------------------------------ */


.accordion-content.active {
  display: flex;
}
